<% unless comment.id.nil? %>
  <h3>Comment <%= comment.id %> 
    <small> <%= comment.created_at.strftime("%I:%M %p %b %d") %></small>
  </h3>
  <strong>By:</strong>
    <%= comment.commenter %>
  <p>
    <%= comment.body %>
  </p>
  <%= link_to 'Delete Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
<% end %>

