<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap-wysihtml5.css"></link>
    <script src="/assets/bootstrap-wysihtml5.js"></script>
  </head>
  
    <%= form_for @post, :html => {:multipart => true} do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <%= pluralize(@post.errors.count, "error") %> prohibited
            this post from being saved:
          <ul>
          <% @post.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
          </div>
        <% end %>

          <p>
            <%= f.label :title %><br>
            <%= f.text_field :title, size:"100px" %>
          </p>
         
          <p>
            <%= f.label :text %><br>
            <%= f.text_area(:text, size:"102px x 300px", class: 'wysihtml5', id: 'some-textarea') %>
          </p>
          <p>
          <label>Post Picture</label>
            <%= image_tag(@post.pic_upload_url) if @post.pic_upload? %>
            <%= f.file_field :pic_upload %>
          </p>

          <p>
          <label>
            <%= f.check_box :remove_pic_upload %>
            Remove Picture
          </label>
          </p>
          <p>
            <%= f.submit %>
          </p>
          <% end %>
<script type="text/javascript">
  $(document).ready(function(){

$('#some-textarea').wysihtml5({
  "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
  "emphasis": true, //Italics, bold, etc. Default true
  "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
  "html": false, //Button which allows you to edit the generated HTML. Default false
  "link": true, //Button to insert a link. Default true
  "image": true, //Button to insert an image. Default true,
  "color": false, //Button to change color of font  
  "stylesheets": [] 
});

  })
</script>
 