 <script type="text/javascript">
        $('.wysihtml5').each(function(i, elem) {
        $(elem).wysihtml5();
                    });
  </script>
  
    <%= form_for @post, :html => {:multipart => true} do |f| %>
      <% if @post.errors.any? %>
        <div id="error_explanation">
        <%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:
          <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
          </ul> </div>
      <% end %>

          <p>
            <%= f.label :title %><br>
            <%= f.text_field :title, size:"100px" %>
          </p>
         
          <p>
            <%= f.label :text %><br>
            <%= f.text_area(:text, cols: 102, rows: 80, class: 'wysihtml5', id: 'some-textarea', placeholder: "What do you want to say?") %>
          </p>
          <p>
          <label>Post Picture</label>
            <%= image_tag(@post.pic_upload_url) if @post.pic_upload? %>
            <%= f.file_field :pic_upload %>
          </p>

          <p>
          <label>
            <%= f.check_box :remove_pic_upload %>
            Remove Picture
          </label>
          </p>
          <p>
            <%= f.submit %>
          </p>
          <% end %>

     