
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog List Index">
    <meta name="author" content="Shadae">

    <title>Blog Posts</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS for the '3 Col Portfolio' Template -->
    <link href="/assets/blog-list.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="http://twitter.com/SlimShadae" class="tops"><img src='http://www.iconsdb.com/icons/preview/white/twitter-l.png' height="20px" width="20px" ></a></li>
            <li><a href="http://www.linkedin.com/in/shadae/" class="tops"><img src='http://www.iconsdb.com/icons/preview/white/linkedin-3-l.png' height="20px" width="20px"></a></li>
            <!-- <li><a href="#contact">Contact</a></li> -->
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          <h1 class="page-header">Blog Posts<small>Check them out below!</small></h1>
        </div>

      </div>
      
      <div class="row">
        <% @posts.reverse.each do |post| %>
          <div class="col-md-4 portfolio-item">
            <!-- <a href="#project-link"> -->
            <%= image_tag(post.pic_upload_url, size: "300x150") if post.pic_upload.present? %>
              <!-- <img class="img-responsive" src="http://placehold.it/700x400"> -->
            </a>
            <h3><%= link_to post.title, post_path(post) %></a></h3>
            <p> Post Number <%= post.id %> </p>
            <td><%= link_to 'Show', post_path(post) %></td>
            <td><%= link_to_if(signed_in?,'Edit', edit_post_path(post)) {}  %></td>
            <td><%= link_to_if(signed_in?,'Destroy', post_path(post),
                  method: :delete, data: { confirm: 'Are you sure?' }) {} %></td>
          </div>
        <% end %>
      </div>
        

      <div class="row text-center">
        
        <div class="col-lg-12">
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>        
        </div>

      </div>

    </div><!-- /.container -->

    <div class="container">

      <hr>

      <footer>
        <div class="row">
          <div class="col-lg-12">
            <!-- <p>Copyright &copy; Company 2013</p> -->
          </div>
        </div>
      </footer>
      
    </div><!-- /.container -->

    <!-- JavaScript -->
    <script src="/assets/jquery-1.10.2.js"></script>
    <script src="/assets/bootstrap.js"></script>

  </body>

</html>
