<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page for Shadae's Blog</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

</head>
<body>
<% if signed_in? %>
  <blockquote class="logh">
    <%= link_to('Logout Admin', destroy_admin_session_path, method: :delete) %><br>
    <%= link_to "Write New Blog", new_post_path %>

  </blockquote>
<% else %>
  <blockquote class="logh"><%= link_to('Admin Login', new_admin_session_path) %></blockquote>
<% end %>

<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>
<%= yield %>

</body>
</html>
